<!DOCTYPE html>
<html>

<head>
  <title>{{ collection.title }} - {{ collection.username }} </title>
</head>

<body>
  <h1>{{ collection.title }} - {{ collection.username }}</h1>

  <hr />
  {% for release in releases %}
  <p>
    {{ release.username }} ({{ release.sent_at }}):
  </p>
  <p>
    {{ release.artist }}
  </p>
  <p>
    {{ release.title }}
  </p>
  {% if release.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ release.id }}">Muokkaa</a> |
    <a href="/remove/{{ release.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}
  
  {% if session.user_id and collection.user_id == session.user_id %}
  <h2>Uusi julkaisu</h2>

  <form action="/new_release" method="post">
    <p>
      Artisti:<br />
      <input type="text" name="artist" maxlength="100" size="40" required />
    </p>
    <p>
      Julkaisun nimi:<br />
      <input type="text" name="title" maxlength="100" size="40" required />
    </p>
    <input type="hidden" name="collection_id" value="{{ collection.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>
