<!DOCTYPE html>
<html>

<head>
  <title>Julkaisun muokkaus</title>
</head>

<body>
  <h1>Julkaisun muokkaus</h1>

  <form action="/edit/{{ release.id }}" method="post">
    <p>
      Artisti:<br />
      <input type="text" name="artist" maxlength="100" size="40" value="{{ release.artist }}" />
    </p>
    <p>
      Julkaisun nimi:<br />
      <input type="text" name="title" maxlength="100" size="40" value="{{ release.title }}" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
</body>

</html>
