{% extends "layout.html" %}

{% block title %}Musiikkikirjasto - Julkaisun muokkaus{% endblock %}

{% block content %}
<h2>Julkaisun muokkaus</h2>

<hr />


<form action="/edit/{{ release.id }}" method="post">
  <p>
    Artisti:<br />
    <input type="text" name="artist" maxlength="100" size="40" value="{{ release.artist }}" required />
  </p>
  <p>
    Julkaisun nimi:<br />
    <input type="text" name="title" maxlength="100" size="40" value="{{ release.title }}" required />
  </p>
  <input type="submit" value="Tallenna" />
</form>

<hr />
<p>
  <a href="/">Etusivulle</a>
</p>
{% endblock %}