<!DOCTYPE html>
<html>

<head>
  <title>Musiikkikirjasto</title>
</head>

<body>
  <h1>Musiikkikirjasto</h1>

  <p>
    <a href="/register">Luo tunnus</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>

  <hr />
  {% for collection in collections %}
  <p>
    <a href="/collection/{{ collection.id }}">{{ collection.title }}</a>
    <br />
    {{ collection.total }} julkaisua, uusin {{ collections.last }}
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi kokoelma</h2>

  <form action="/new_collection" method="post">
    <p>
      Kokoelman nimi:<br />
      <input type="text" name="collection_title" />
    </p>
    <p>
      Artisti:<br />
      <input type="text" name="artist" maxlength="100" />
    </p>
    <p>
      Julkaisun nimi:<br />
      <input type="text" name="title" maxlength="100" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}
</body>

</html>
