<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Musiikkikirjasto</title>
</head>

<body>
  <h1>Musiikkikirjasto</h1>

  <p>
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/register">Luo tunnus</a> | <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>

  <hr />

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  <hr />
  {% for collection in collections %}
  <p>
    <a href="/collection/{{ collection.id }}">{{ collection.title }}</a>
    <br />
    {{ collection.total }} julkaisua, uusin {{ collection.last }} (kokoelman omistaja: <a href="/user/{{ collection.user_id }}">{{ collection.username }}</a>)
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi kokoelma</h2>

  <form action="/new_collection" method="post">
    <p>
      Kokoelman nimi:<br />
      <input type="text" name="collection_title" size="40" required />
    </p>
    <p>
      Artisti:<br />
      <input type="text" name="artist" maxlength="100" size="40" required />
    </p>
    <p>
      Julkaisun nimi:<br />
      <input type="text" name="title" maxlength="100" size="40" required />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}
</body>

</html>