{% extends "layout.html" %}

{% block title %}Musiikkikirjasto - käyttäjä{% endblock %}

{% block content %}
<h3>Käyttäjä {{ user.username }}</h3>
<hr />

<p>
  Käyttäjä on lisännyt kokoelmiin {{ releases | count }} julkaisua
</p>

{% if releases %}
<p>
  Vanhin kokoelmiin lisätty julkaisu {{ releases[-1].sent_at }}
</p>
<p>
  Uusin kokoelmiin lisätty julkaisu {{ releases[0].sent_at }}
</p>
{% endif %}

<hr />

<h3>Käyttäjän lisäämät julkaisut</h3>

<ul>
  {% for release in releases %}
  <li>
    <a href="/collection/{{ release.collection_id }}#{{ release.id }}">
      {{ release.collection_title }}: {{ release.title }} - {{ release.artist }}
    </a>
    <br />
    ({{ release.sent_at }})
  </li>
  {% endfor %}
</ul>

<hr />
<p>
  <a href="/">Etusivulle</a>
</p>
{% endblock %}